<li id="comment-<%= comment.id%>">
    <p><%= comment.content%><br>
    <span><%=comment.user.name%></span>
        <% if (locals.user && locals.user.id == comment.user.id){%>
        <a href="/comment/destroy/<%= comment.id %>" class="delete-comment-button">
            X
        </a>
        <%}%>
        <%if (locals.user){%>
        <a href="/likes/toggle/?id=<%= comment.id %>&type=Comment" class="like-button" id="like-button-<%=comment.id%>" ><span id="like-count"><%= comment.likes.length%></span>Like</a>
        <%}else{%>
            <span id="like-count"><%= comment.likes.length%></span>
            <%}%>
    </p>
</li>