<li id="post-<%=post.id%>">
    <p>
        <%= post.content %>
        <br>
        <%= post.user.name%>
        <br>
        <% if (locals.user && (locals.user.id == post.user.id)){%>
            <a href="/user/home/post/destroy/<%= post.id%>" class="delete-post-button">
                X
            </a>
            
        <%}%>
            
            <% if (locals.user){ %>
                <%- include('_commentForm') -%>
            <%}%>
            <ul id="comment-list-<%= post._id %>">
                <%for (comment of post.comments){%>
                    <%- include('_comment') -%>
                <%}%>
            </ul>
            
    </p>
</li>