<li id="post-<%=post.id%>">
    <p>
        <%= post.content %>
        <br>
        <%= post.user.name%>
        <br>
        <% if (locals.user && (locals.user.id == post.user.id)){%>
            <a href="/user/home/post/destroy/<%= post.id%>" class="delete-post-button">
                X
            </a>
            
        <%}%>
        <span></span>
        <%if (locals.user){%>
        <a href="/likes/toggle/?id=<%= post.id %>&type=Post" class="like-button" id="like-button-<%=post.id%>"><span><%=post.likes.length%></span>Like</a>
        <%}else{%>

                <span id="like-count"><%= comment.likes.length%></span>
            <%}%>
            <% if (locals.user){ %>
                <%- include('_commentForm') -%>
            <%}%>
            <ul id="comment-list-<%= post._id %>">
                <%for (comment of post.comments){%>
                    <%- include('_comment') -%>
                <%}%>
            </ul>
            
    </p>
</li>