<link rel="stylesheet" href="/css/home.css">
<main>
    <div id="task-list">
        <% if (tasks.length==0){ %>
            <p id="empty-status">Nothing to show here..</p>
            <%}else{%>
        <% for (let i=0;i<tasks.length;i++){%>
            <li class="li">
                <a href="/task/update-checkbox/?id=<%=tasks[i]._id%>">
                <div class="checkbox">
                    
                        <input type="checkbox" name="checked" id="" <% if (tasks[i].checked){%>
                            checked <%}else{%>
                                unchecked<%}%>>
                </a>
                </div>
                <div class="task-main">
                    <div class="content-main">
                        <span id="desc"><%= tasks[i].desc %> (<%= tasks[i].category%>)</span>
                        <span id="date">Due date : <%= tasks[i].date.toISOString().slice(0,10).replace(/-/g,"/"); %></span>
                    </div>
                    <div class="task-options" id=<%=i%>>
                        <button type="button" class="share"><i class="fas fa-share"></i>Share</button>
                        <a href="/task/delete-task/?id=<%= tasks[i]._id %>">
                            <button type="button" class="delete"><i class="fas fa-trash"></i>Delete</button>
                        </a>
                    </div>
                </div>
                
            </li>
        <%}%>
        <%}%>
    </div>
    
    <%- include('_task_form')%>

    <div id="add-button">
        <button type="button" id="add-task-button"><i class="fas fa-thumbtack"></i>  Add Task</button>
    </div>
</main>

<script type = "text/javascript" src="/js/home.js"></script>
